<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.FOODCHEAP">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/FOODCHEAP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <!-- 상단 타이틀바 제거 코드 -->
        <!-- android:theme="@style/Theme.AppCompat.NoActionBar"-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".explain1"/>
        <activity android:name=".explain2"/>
        <activity android:name=".explain3"/>
        <activity android:name=".explain4"/>
        <activity android:name=".login"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".user_page"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".shop_information"/>
        <activity android:name=".productDetail"/>
        <activity android:name=".register"/>
        <activity android:name=".shopping_cart"/>
        <activity android:name=".wallet"/>
        <activity android:name=".addCard"/>
        <activity android:name=".Payment"/>
        <activity android:name=".CompletePayment"/>
        <activity android:name=".CardDetail"/>
        <activity android:name=".my_page_customer"/>
        <activity android:name=".search_address"/>
        <activity android:name=".check_address"/>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
